     h1 {
            color:darkblue;
            
        }
        .highlight {
            background-color:aqua;
            padding: 10px;

        }
        #main-title {
            font-size: 30px;
            font-weight: 200;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .blue-box { 
            background-color: lightblue;
            padding: 8px 12px;
            border-radius: 4px;
            line-height: 1.5;
            margin: 10px 0;
            white-space: normal;

        }